<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <div class="h3">App</div>
        <app-servers (serverCreated)="onServerCreated($event)"></app-servers>
        <hr>
        <app-server *ngFor="let server of servers; let i = index" [alaisServerName]="server"></app-server>
    </div>
    <div class="col-lg-6">
      <app-tab>
        <div #projecteContent>
            <strong>
              This is projected to app-tab component from app-root component
            </strong>
        </div>
      </app-tab>
    </div>
  </div>
</div>

